Repository MATEBALL/MATEBALL-CLIENT, pull requests merged in 2025-09, with the labels that each got.

#317 feat: SP1 채팅탭 엠티뷰 퍼블리싱
  src/pages/chat/chat-list.tsx
  src/shared/assets/svgs/graphic_chat_empty.svg
  src/shared/constants/header.ts
  src/shared/mocks/mockChatData.ts
Labels: feat, 채은

#315 feat: SP1 그룹 매칭 수락 완료 화면 수정
  src/pages/result/components/matching-agree-view.tsx
Labels: feat, 소은

#313 feat: SP1 매칭 성사 캡션 문구 수정 및 오픈채팅방 링크 연결
  src/pages/result/components/matching-success-view.tsx
  src/pages/result/constants/matching-result.ts
  src/pages/result/utils/number.ts
  src/pages/result/utils/url.ts
  src/shared/apis/match/match-queries.ts
  src/shared/constants/api.ts
  src/shared/constants/query-key.ts
  src/shared/types/match-types.ts
Labels: feat, 소은

#328 feat: SP1 경기 없는 날 엠티 뷰 생성
  src/pages/home/components/home-card-list.tsx
  src/pages/home/components/match-list-section.tsx
  src/pages/home/utils/match-card-renderers.tsx
  src/pages/match/components/match-tab-pannel.tsx
  src/pages/match/utils/match-status.ts
  src/shared/apis/game/game-queries.ts
  src/shared/apis/match/match-queries.ts
  src/shared/assets/svgs/empty-2.svg
  src/shared/components/ui/empty-view.tsx
  src/shared/constants/icon-list.ts
  src/shared/utils/query-error-handler.ts
  src/shared/utils/show-error-toast.tsx
Labels: feat, 예원

#336 feat: SP1 닉네임 중복확인 api 연결
  .vscode/settings.json
  src/pages/edit-profile/edit-profile.tsx
  src/pages/match/utils/match-status.ts
  src/pages/sign-up/components/signup-step.tsx
  src/pages/sign-up/constants/NOTICE.ts
  src/pages/sign-up/types/nickname-types.ts
  src/shared/apis/user/user-queries.ts
  src/shared/constants/api.ts
  src/shared/constants/query-key.ts
  tsconfig.app.json
Labels: feat, 희선

#339 release: SP1 QA용 배포
  src/pages/edit-profile/constants/edit-profile.ts
  src/pages/onboarding/constants/onboarding.ts
Labels: 희선

#341 feat: GA 스크립트 삽입
  .gitignore
  .vscode/settings.json
  biome.json
  git
  index.html
Labels: feat, 희선

#342 feat: ga 및 모달 스타일 수정
  index.html
  src/shared/components/bottom-sheet/bottom-sheet-modal.tsx
Labels: feat, 희선

#318 feat: SP1 로딩 화면 수정
  public/lotties/loading.json
  src/pages/loading/loading.tsx
  src/pages/match/components/mate.tsx
  src/pages/match/create/create.tsx
  src/shared/routes/layout.tsx
  src/shared/styles/theme.css
Labels: feat, 채은

#347 fix: (QA/3) 응원하는 팀이 없는 경우 분기처리
  src/pages/onboarding/onboarding.tsx
Labels: 채은, fix

#349 fix: (QA/3) 그룹장 온보딩 완료 화면 분기처리
  src/pages/onboarding/components/date-select.tsx
  src/pages/onboarding/onboarding-group.tsx
  src/shared/components/bottom-sheet/game-match/game-match-bottom-sheet.tsx
Labels: 채은, fix

#351 fix: (QA/3) bottom navigation 네이밍 수정
  src/shared/components/bottom-navigation/bottom-navigation.tsx
  src/shared/components/bottom-navigation/constants/bottom-navigation.ts
Labels: 채은, fix

#353 fix: (QA/3) 이용가이드 디자인 반영
  src/shared/components/card/banner-card/banner-card.tsx
Labels: 채은, fix

#356 fix: (QA/3) 매칭현황 탭 스타일 수정
  src/pages/home/home.tsx
  src/pages/match/components/match-tab-pannel.tsx
  src/pages/match/match.tsx
  src/shared/components/tab/fill-tab/fill-tab-item.tsx
  src/shared/components/tab/tab/styles/tab-style.ts
  src/shared/components/ui/empty-view.tsx
  src/shared/styles/theme.css
Labels: 채은, fix

#358 fix: (QA/3) 왕관 아이콘 위치 조정 및 그림자 제거
  src/shared/components/card/match-card/components/card-header.tsx
Labels: 채은, fix

#361 fix: (QA/3) 그룹요청도착 서브텍스트 수정
  src/pages/result/components/matching-receive-view.tsx
  src/pages/result/result.tsx
Labels: 채은, fix

#365 fix: (QA/3) 마이페이지, 프로필 수정 페이지 디자인 QA 반영
  src/pages/edit-profile/edit-profile.tsx
  src/pages/profile/profile.tsx
  src/shared/components/button/button/styles/button-variants.ts
  src/shared/components/input/input.tsx
Labels: 희선

#331 feat: SP1 이용 가이드 뷰 구현
  public/images/guide_image_1.webp
  public/images/guide_image_2.webp
  public/images/guide_image_3.webp
  public/images/guide_image_4.webp
  public/images/guide_image_5.webp
  public/images/guide_image_6.webp
  src/pages/guide/constants/guide-images.ts
  src/pages/guide/guide.tsx
  src/pages/home/components/top-section.tsx
  src/shared/components/bottom-navigation/bottom-navigation.tsx
  src/shared/components/bottom-navigation/constants/bottom-navigation.ts
  src/shared/components/card/banner-card/banner-card.tsx
  src/shared/constants/header.ts
  src/shared/routes/lazy.ts
  src/shared/routes/protected-routes.tsx
  src/shared/routes/routes-config.ts
Labels: feat, 예원

#368 fix: (QA/3) dim scroll 문제 해결
  src/pages/home/home.tsx
  src/shared/components/bottom-sheet/bottom-sheet.tsx
  src/shared/utils/scroll-lock.ts
Labels: 예원

#370 feat: (QA/3) 그룹 매칭 수락 완료 화면의 뒤로가기 버튼 삭제
  src/pages/result/components/matching-agree-view.tsx
  src/shared/components/header/utils/get-header.tsx
Labels: feat, 소은

#379 feat: SP1 알림배지 제거 api 연결
  src/pages/result/components/matching-receive-view.tsx
  src/shared/apis/alarm/alarm-mutations.ts
  src/shared/components/bottom-navigation/bottom-navigation.tsx
  src/shared/constants/api.ts
  src/shared/constants/query-key.ts
Labels: feat, 채은

#386 fix: 회원가입 design, gaEvent 수정 및 매칭 현황 내 중복 데이터 오류 해결
  src/pages/match/components/match-tab-pannel.tsx
  src/pages/match/match.tsx
  src/pages/onboarding/utils/onboarding-button.ts
  src/pages/sign-up/components/signup-step.tsx
  src/shared/components/bottom-sheet/game-match/game-match-bottom-sheet.tsx
Labels: 희선, fix

#389 fix: 회원가입 페이지, 홈 컨테이너 영역 수정
  src/pages/home/components/top-section.tsx
  src/pages/sign-up/components/signup-step.tsx
  src/pages/sign-up/sign-up.tsx
Labels: 희선, fix

#392 fix: hotfix design
  src/pages/sign-up/components/signup-step.tsx
  src/pages/sign-up/sign-up.tsx
Labels: 희선, fix
