Repository MATEBALL/MATEBALL-CLIENT, pull requests merged in 2025-07, with the labels that each got.

#12 init: axios, tanstack query 세팅
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/main.tsx
  src/shared/apis/.gitkeep
  src/shared/apis/http.ts
  src/shared/apis/instance.ts
  src/shared/constants/.gitkeep
  src/shared/constants/response.ts
  src/shared/libs/query-client.ts
  src/shared/types/.gitkeep
  src/shared/types/api.ts
Labels: init, 희선

#31 feat: tailwind cn 유틸을 추가합니다
  package.json
  pnpm-lock.yaml
  src/shared/libs/cn.ts
  tsconfig.app.json
Labels: feat, 희선

#30 feat: theme 컬러 추가
  src/shared/styles/theme.css
Labels: feat, 채은

#19 init: svg sprite 세팅
  .github/workflows/cicd.yml
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/main.tsx
  src/shared/assets/svgs/.gitkeep
  src/shared/assets/svgs/ic-arrow-left-18.svg
  src/shared/assets/svgs/ic-arrow-left-24.svg
  src/shared/assets/svgs/ic-arrow-left.svg
  src/shared/assets/svgs/ic-arrow-right-18.svg
  src/shared/assets/svgs/ic-baseball.svg
  src/shared/assets/svgs/ic-calendar-24.svg
  src/shared/assets/svgs/ic-calendar.svg
  src/shared/assets/svgs/ic-caution.svg
  src/shared/assets/svgs/ic-chat-filled.svg
  src/shared/assets/svgs/ic-chat-lined.svg
  src/shared/assets/svgs/ic-check-filled.svg
  src/shared/assets/svgs/ic-clock.svg
  src/shared/assets/svgs/ic-error-filled.svg
  src/shared/assets/svgs/ic-home-filled.svg
  src/shared/assets/svgs/ic-home-lined.svg
  src/shared/assets/svgs/ic-info-filled.svg
  src/shared/assets/svgs/ic-kakao-logo.svg
  src/shared/assets/svgs/ic-location.svg
  src/shared/assets/svgs/ic-matchinglist.svg
  src/shared/assets/svgs/ic-my-filled.svg
  src/shared/assets/svgs/ic-my-lined.svg
  src/shared/assets/svgs/ic-right.svg
  src/shared/assets/svgs/ic-x.svg
  src/shared/components/.gitkeep
  src/shared/components/Icon.tsx
  src/shared/constants/icon-list.ts
  src/shared/scripts/generate-icon-list.ts
  tsconfig.json
  vite.config.ts
Labels: init, 예원

#43 fix: ci-cd 파일을 수정합니다
  .github/workflows/cicd.yml
Labels: 희선

#48 feat: footer 컴포넌트 생성 및 lazy 적용
  .husky/commit-msg
  commitlint.config.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/shared/components/footer/footer.stories.tsx
  src/shared/components/footer/footer.tsx
  src/shared/components/icon/icon.tsx
  src/shared/routes/Router.tsx
  src/shared/routes/layout.tsx
  src/shared/routes/lazy.ts
  src/shared/routes/router.tsx
  src/shared/routes/routes-config.ts
  src/shared/styles/global.css
  src/stories/introduction.mdx
Labels: feat, 희선

#47 feat: button create 공통 컴포넌트를 구현합니다.
  .github/workflows/cicd.yml
  pnpm-lock.yaml
  src/shared/assets/svgs/ic-plus.svg
  src/shared/assets/svgs/ic-right.svg
  src/shared/components/button/button-create.stories.tsx
  src/shared/components/button/button-create.tsx
  src/shared/constants/icon-list.ts
  src/shared/styles/theme.css
Labels: feat, 예원

#70 fix: chromatic 댓글 중복 방지 처리 및 pre-commit 권한 문제 해결
  .github/workflows/chromatic.yml
  .husky/pre-commit
Labels: 채은, fix

#73 feat: 배너 카드, 매칭 현황 카드 컴포넌트 구현
  .storybook/main.ts
  .storybook/manager-head.html
  .storybook/preview-head.html
  .storybook/preview.tsx
  public/images/card_banner_img.webp
  public/svgs/ic-favicon.svg
  src/shared/components/button/button-create/button-create.stories.tsx
  src/shared/components/button/button-create/button-create.tsx
  src/shared/components/button/button.stories.tsx
  src/shared/components/card/banner-card/banner-card.stories.tsx
  src/shared/components/card/banner-card/banner-card.tsx
  src/shared/components/card/constants/MATCH.ts
  src/shared/components/card/match-current-card/match-current-card.stories.tsx
  src/shared/components/card/match-current-card/match-current-card.tsx
  src/shared/mocks/mockMate.ts
  src/shared/styles/story-style.css
Labels: feat, 희선

#79 feat: storybook 수정
  .storybook/main.ts
  .storybook/manager.ts
  package.json
  pnpm-lock.yaml
  public/svgs/logo-gray.svg
  src/shared/assets/svgs/ic-arrow-left-18.svg
  src/shared/assets/svgs/ic-arrow-left-24.svg
  src/shared/assets/svgs/ic-footer-logo.svg
  src/shared/assets/svgs/ic-logo.svg
  src/shared/assets/svgs/logo-gray.svg
  src/shared/assets/svgs/logo.svg
  src/shared/components/footer/footer.tsx
  src/shared/components/header/utils/get-header.tsx
  src/shared/constants/icon-list.ts
  src/shared/styles/global.css
  src/stories/foundations/logo/logo.stories.tsx
Labels: feat, 채은

#87 feat: lottie 파일 적용 세팅 구성
  package.json
  pnpm-lock.yaml
  public/lotties/agree.json
  public/lotties/error.json
  public/lotties/fail.json
  public/lotties/loading.json
  public/lotties/login.json
  public/lotties/send.json
  public/lotties/success.json
  public/lotties/welcome.json
  src/shared/constants/icon-list.ts
  src/shared/constants/lotties.ts
  src/shared/styles/global.css
Labels: feat, 희선

#81 feat: button game 컴포넌트 구현
  .husky/pre-commit
  pnpm-lock.yaml
  public/images/testprofile.jpeg
  src/pages/sign-up/components/nickname-check-step.tsx
  src/pages/sign-up/components/profile-check-step.tsx
  src/shared/assets/svgs/ic-baseball.svg
  src/shared/assets/svgs/ic-calendar.svg
  src/shared/assets/svgs/ic-clock.svg
  src/shared/assets/svgs/ic-location.svg
  src/shared/components/button/button-create/button-create.stories.tsx
  src/shared/components/button/button-game/button-game.stories.tsx
  src/shared/components/button/button-game/button-game.tsx
  src/shared/components/button/button-game/styles/button-game-variants.ts
  src/shared/components/button/button/button.stories.tsx
  src/shared/components/button/button/button.tsx
  src/shared/components/button/button/styles/button-variants.ts
  src/shared/components/chip/chip-info.tsx
  src/shared/components/chip/chip-state.stories.tsx
  src/shared/components/chip/chip-state.tsx
  src/shared/styles/global.css
Labels: feat, 예원

#97 feat: progress bar 컴포넌트 구현
  src/pages/onboarding/components/progress-bar.tsx
Labels: feat, 채은

#84 feat: query 패턴 세팅
  package.json
  pnpm-lock.yaml
  src/shared/apis/auth/auth.ts
  src/shared/apis/http.ts
  src/shared/apis/instance.ts
  src/shared/apis/user/user-mutations.ts
  src/shared/apis/user/user-queries.ts
  src/shared/assets/svgs/ic-calendar-16.svg
  src/shared/constants/api.ts
  src/shared/constants/query-key.ts
  tsconfig.app.json
Labels: feat, 희선

#95 feat: 닉네임 react-hook-form 연결
  .coderabbit/coderabbit.yaml
  package.json
  pnpm-lock.yaml
  src/pages/sign-up/components/kakao-step.tsx
  src/pages/sign-up/components/nickname-check-step.tsx
  src/pages/sign-up/components/nickname-step.tsx
  src/pages/sign-up/constants/NOTICE.ts
  src/pages/sign-up/constants/validation.ts
  src/pages/sign-up/schema/validation-schema.ts
  src/pages/sign-up/sign-up.tsx
  src/pages/sign-up/types/nickname-types.ts
  src/shared/assets/svgs/ic-info-filled.svg
  src/shared/components/button/button/button.tsx
  src/shared/components/input/input.tsx
  src/shared/components/input/styles/input-variants.ts
  src/shared/styles/custom-utilities.css
  src/shared/utils/.gitkeep
  src/shared/utils/define-input-state.ts
Labels: feat, 희선

#101 fix: use-funnel 훅 개선
  src/shared/hooks/use-funnel.tsx
Labels: 채은, fix

#77 feat: card 공통 컴포넌트 구현
  pnpm-lock.yaml
  src/shared/assets/svgs/ic-clock.svg
  src/shared/assets/svgs/ic-plus.svg
  src/shared/assets/svgs/profile.svg
  src/shared/components/card/match-card/card.stories.tsx
  src/shared/components/card/match-card/card.tsx
  src/shared/components/card/match-card/components/card-game-info.tsx
  src/shared/components/card/match-card/components/card-header.tsx
  src/shared/components/card/match-card/components/card-matching-rate.tsx
  src/shared/components/card/match-card/components/card-profile-image.tsx
  src/shared/components/card/match-card/styles/card-variants.ts
  src/shared/components/card/match-card/types/card.ts
  src/shared/components/card/match-card/utils/get-display-images.tsx
  src/shared/components/chip/chip-info.tsx
  src/shared/components/chip/chip-state/chip-state.stories.tsx
  src/shared/components/chip/chip-state/styles/chip-state-variants.ts
  src/shared/constants/icon-list.ts
  src/shared/styles/theme.css
Labels: feat, 예원

#110 feat: 프로필 상세 및 요청 뷰 구현
  public/assets/lottie/send.json
  src/pages/match/components/mate-carousel.tsx
  src/pages/match/components/mate-footer.tsx
  src/pages/match/components/mate-header.tsx
  src/pages/match/components/mate.tsx
  src/pages/match/constants/matching.ts
  src/pages/match/groups/components/carousel_indicator.tsx
  src/pages/match/groups/components/slide-item.tsx
  src/pages/match/groups/mates.tsx
  src/pages/match/hooks/useMate.ts
  src/pages/match/hooks/useSlide.ts
  src/pages/match/single/single.tsx
  src/pages/match/styles/get-slide-transformstyle.ts
  src/pages/result/components/sent-view.tsx
  src/pages/result/result.tsx
  src/shared/assets/svgs/ic-caution.svg
  src/shared/components/bottom-sheet/bottom-sheet-modal.tsx
  src/shared/components/bottom-sheet/bottom-sheet.stories.tsx
  src/shared/components/card/match-card/card.tsx
  src/shared/components/card/match-card/components/card-header.tsx
  src/shared/components/card/match-card/styles/card-variants.ts
  src/shared/components/card/match-card/types/card.ts
  src/shared/mocks/mockMatchData.ts
Labels: feat, 소은

#91 feat: 홈페이지 뷰 구현
  public/images/testprofile.jpeg
  public/svgs/profile.svg
  src/main.tsx
  src/pages/home/components/calendar-bottom-sheet.tsx
  src/pages/home/components/calendar-button.tsx
  src/pages/home/components/calendar-section.tsx
  src/pages/home/components/match-list-section.tsx
  src/pages/home/components/top-section.tsx
  src/pages/home/home.tsx
  src/pages/home/mocks/mockMateGroup.ts
  src/pages/home/mocks/mockMateSingle.ts
  src/pages/home/utils/date-format.tsx
  src/pages/home/utils/match-card-renderers.tsx
  src/shared/assets/svgs/graphic-empty.svg
  src/shared/components/bottom-navigation/bottom-navigation.tsx
  src/shared/components/calendar/constants/CALENDAR.ts
  src/shared/components/calendar/month-calendar.tsx
  src/shared/components/calendar/utils/date-grid.ts
  src/shared/components/calendar/week-calendar.tsx
  src/shared/components/card/banner-card/banner-card.tsx
  src/shared/components/card/match-card/card.tsx
  src/shared/components/card/match-card/components/card-header.tsx
  src/shared/components/card/match-card/components/card-profile-image.tsx
  src/shared/components/card/match-card/styles/card-variants.ts
  src/shared/components/card/match-card/types/card.ts
  src/shared/components/card/match-card/utils/get-color-type.ts
  src/shared/components/card/match-card/utils/get-display-images.tsx
  src/shared/components/chip/chip-state/chip-state.stories.tsx
  src/shared/components/chip/chip-state/chip-state.tsx
  src/shared/components/chip/styles/chip-state-variants.ts
  src/shared/components/header/header.tsx
  src/shared/components/tab/tab/tab-item.tsx
  src/shared/components/tab/tab/tab-list.tsx
  src/shared/components/ui/empty-state.tsx
  src/shared/hooks/use-tab-state.tsx
  src/shared/routes/layout.tsx
  src/shared/styles/custom-utilities.css
  src/shared/styles/global.css
  src/shared/styles/theme.css
Labels: feat, 예원

#134 feat: protected route 설정
  src/pages/login/components/login-callback.ts
  src/pages/login/login.tsx
  src/shared/apis/user/user-queries.ts
  src/shared/hooks/use-auth.ts
  src/shared/routes/auth-guard.tsx
  src/shared/routes/protected-routes.tsx
  src/shared/routes/public-routes.tsx
  src/shared/routes/router.tsx
  src/shared/routes/routes-config.ts
Labels: feat, 희선

#124 feat: 온보딩 뷰 퍼블리싱
  package.json
  src/main.tsx
  src/pages/onboarding/components/complete.tsx
  src/pages/onboarding/components/date-select.tsx
  src/pages/onboarding/components/gender.tsx
  src/pages/onboarding/components/group-role.tsx
  src/pages/onboarding/components/matching-type.tsx
  src/pages/onboarding/components/onboarding-header.tsx
  src/pages/onboarding/components/progress-bar.tsx
  src/pages/onboarding/components/start.tsx
  src/pages/onboarding/components/support-team.tsx
  src/pages/onboarding/components/sync-support-team.tsx
  src/pages/onboarding/components/viewing-style.tsx
  src/pages/onboarding/constants/onboarding.ts
  src/pages/onboarding/onboarding-group.tsx
  src/pages/onboarding/onboarding.tsx
  src/pages/onboarding/types/onboarding.ts
  src/pages/onboarding/utils/onboarding-button.ts
  src/shared/assets/svgs/graphic-cheer-team.svg
  src/shared/assets/svgs/graphic-empty.svg
  src/shared/assets/svgs/graphic-gender.svg
  src/shared/assets/svgs/graphic-group-role.svg
  src/shared/assets/svgs/graphic-matching.svg
  src/shared/assets/svgs/graphic-team.svg
  src/shared/assets/svgs/graphic-watching.svg
  src/shared/components/button/button-game/button-game.tsx
  src/shared/components/button/button/styles/button-variants.ts
  src/shared/components/calendar/month-calendar.tsx
  src/shared/constants/header.ts
  src/shared/constants/icon-list.ts
  src/shared/routes/lazy.ts
  src/shared/routes/protected-routes.tsx
  src/shared/routes/routes-config.ts
  src/shared/styles/custom-utilities.css
  src/shared/styles/global.css
Labels: feat, 채은

#150 feat: queries, mutations factory 적용 및 type 분리
  package.json
  pnpm-lock.yaml
  src/pages/login/components/login-callback.ts
  src/shared/apis/auth/auth.ts
  src/shared/apis/base/http.ts
  src/shared/apis/base/instance.ts
  src/shared/apis/game/game-queries.ts
  src/shared/apis/match/match-mutations.ts
  src/shared/apis/match/match-queries.ts
  src/shared/apis/user/user-mutations.ts
  src/shared/apis/user/user-queries.ts
  src/shared/assets/svgs/ic-female.svg
  src/shared/assets/svgs/ic-male.svg
  src/shared/constants/api.ts
  src/shared/constants/query-key.ts
  src/shared/types/api.ts
  src/shared/types/auth-types.ts
  src/shared/types/base-types.ts
  src/shared/types/game-types.ts
  src/shared/types/match-types.ts
  src/shared/types/schema.d.ts
  src/shared/types/user-types.ts
Labels: feat, 희선

#151 feat: home game bottomsheet 연결
  src/pages/home/components/match-list-section.tsx
  src/pages/home/home.tsx
  src/shared/components/bottom-sheet/bottom-sheet.stories.tsx
  src/shared/components/bottom-sheet/game-match/game-match-bottom-sheet.tsx
  src/shared/mocks/mockMateGroup.ts
  src/shared/mocks/mockMateSingle.ts
Labels: feat, 예원

#186 feat: 게임 정보 API 연동
  src/pages/home/home.tsx
  src/shared/apis/game/game-queries.ts
  src/shared/components/bottom-sheet/game-match/game-match-bottom-sheet.tsx
  src/shared/components/bottom-sheet/game-match/game-match-item.tsx
  src/shared/constants/api.ts
  src/shared/constants/query-key.ts
Labels: feat, 소은

#185 fix: card, login, profile 페이지 관련 디자인 오류 수정
  package.json
  public/lotties/error.json
  public/lotties/login.json
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/sign-up/sign-up.tsx
  src/shared/components/card/match-card/components/card-header.tsx
  src/shared/components/footer/footer.tsx
  src/shared/styles/custom-utilities.css
Labels: 희선, fix

#195 feat: 1:1 매칭 리스트 조회 api 연결
  src/pages/home/components/match-list-section.tsx
Labels: feat, 채은

#193 feat: 매칭 생성 api 연동
  src/shared/apis/match/match-mutations.ts
  src/shared/components/bottom-sheet/bottom-sheet.stories.tsx
  src/shared/components/bottom-sheet/game-match/game-match-bottom-sheet.tsx
Labels: feat, 예원

#200 feat: 그룹 매칭 생성 결과 페이지 api 연결
  src/pages/match/create/create.tsx
  src/pages/match/hooks/use-mate-create.ts
  src/shared/apis/match/match-queries.ts
  src/shared/components/bottom-sheet/game-match/game-match-bottom-sheet.tsx
  src/shared/constants/header.ts
  src/shared/routes/layout.tsx
  src/shared/types/match-types.ts
Labels: feat, 희선

#205 feat: 매칭된 인원 조회 api를 연결합니다.
  src/pages/home/home.tsx
  src/pages/result/components/matching-agree-view.tsx
  src/pages/result/components/matching-success-view.tsx
  src/pages/result/result.tsx
  src/shared/components/card/match-current-card/match-current-card.tsx
  src/shared/components/header/utils/get-header.tsx
  src/shared/routes/layout.tsx
  src/shared/routes/protected-routes.tsx
  src/shared/routes/routes-config.ts
Labels: feat, 희선

#190 fix: 매칭 현황 브라우저 뒤로가기 에러 해결
  src/pages/result/components/matching-agree-view.tsx
  src/pages/result/components/matching-fail-view.tsx
  src/pages/result/components/matching-receive-view.tsx
  src/pages/result/components/matching-success-view.tsx
  src/pages/result/components/sent-view.tsx
  src/shared/hooks/use-prevent-back-navigation.ts
Labels: 소은, fix

#208 refactor: 홈 경기조회 api enabled 옵션 추가
  src/pages/home/home.tsx
  src/shared/components/header/header.tsx
Labels: refactor, 희선

#212 feat: 1:1 매칭 결과 api 연결
  src/pages/match/create/components/group-match-card-section.tsx
  src/pages/match/create/components/match-card-section.tsx
  src/pages/match/create/components/single-match-card-section.tsx
  src/pages/match/create/create.tsx
  src/pages/match/create/types/match-data-type.ts
  src/pages/match/hooks/use-mate-create.ts
  src/shared/components/bottom-sheet/game-match/game-match-bottom-sheet.tsx
  src/shared/components/card/match-card/card.tsx
  src/shared/components/card/match-card/components/card-header.tsx
  src/shared/components/card/match-card/types/card.ts
Labels: feat, 예원

#218 feat: 매칭 요청 수락 api 연결
  src/pages/match/components/match-tab-pannel.tsx
  src/pages/result/components/matching-receive-view.tsx
Labels: feat, 예원

#222 feat: 매칭 요청 거절 api 연결
  src/pages/match/components/match-tab-pannel.tsx
  src/pages/result/components/matching-receive-view.tsx
  src/pages/result/constants/matching-result.ts
  src/shared/components/bottom-sheet/game-match/game-match-bottom-sheet.tsx
Labels: feat, 예원

#248 fix: (QA/2) 매칭 성사 그라데이션 수정
  src/pages/result/components/matching-success-view.tsx
  src/shared/styles/custom-utilities.css
  src/shared/styles/theme.css
Labels: 소은, fix

#253 feat: 그룹 매칭 요청 api 연동
  src/pages/match/groups/mates.tsx
  src/shared/components/bottom-sheet/bottom-sheet-modal.tsx
Labels: feat, 채은

#258 fix: (QA/2) 홈 탭 마진 조정, 요청 거절 페이지 폰트 색 수정
  src/pages/home/components/calendar-section.tsx
  src/pages/result/components/matching-fail-view.tsx
Labels: 예원

#271 feat: (QA/2) 매칭 요청에 유저 닉네임 추가
  src/pages/match/components/mate-header.tsx
  src/pages/match/components/mate.tsx
  src/pages/match/constants/matching.ts
  src/pages/result/components/matching-receive-view.tsx
  src/shared/types/match-types.ts
Labels: feat, 소은

#273 fix: (QA/2) 유저 카드에서 응원하는 팀이 없는 경우 레이아웃 깨지는 문제 해결
  src/shared/components/chip/chip-list.tsx
Labels: 소은

#269 fix: (QA/2) 누락된 toast 추가
  src/pages/home/components/calendar-bottom-sheet.tsx
  src/pages/onboarding/components/date-select.tsx
  src/shared/components/bottom-sheet/game-match/game-match-bottom-sheet.tsx
  src/shared/components/calendar/calendar.stories.tsx
  src/shared/components/calendar/month-calendar.tsx
  src/shared/components/calendar/week-calendar.tsx
  src/shared/constants/error-toast.ts
Labels: 채은, fix

#281 fix: (QA/2) 그룹 매칭 수락 시 매칭 현황으로 네비게이트
  src/pages/result/components/matching-receive-view.tsx
Labels: 예원, fix

#286 fix: profile 위치 수정
  src/shared/assets/svgs/profile.svg
  src/shared/components/card/match-card/components/card-profile-image.tsx
  src/shared/constants/icon-list.ts
Labels: 소은

#288 fix: 제목 나중에 지을게요 ,..
  src/pages/chat/components/chat-room.tsx
  src/pages/home/components/calendar-section.tsx
  src/shared/routes/layout.tsx
  src/shared/routes/protected-routes.tsx
  src/shared/routes/public-routes.tsx
  src/shared/routes/router.tsx
  src/shared/routes/routes-config.ts
Labels: 희선, fix

#290 fix: 프로필 outline 스타일 수정
  src/shared/components/card/match-card/components/card-profile-image.tsx
  src/shared/components/card/match-card/styles/card-variants.ts
Labels: 소은

#294 fix: 주간 캘린더에서의 toast 오류 해결
  src/pages/home/components/calendar-section.tsx
  src/pages/home/components/home-calendar-tap.tsx
  src/shared/components/calendar/calendar.stories.tsx
  src/shared/components/calendar/week-calendar.tsx
Labels: 채은, fix

#298 style: (QA/2)카드 프로필 테두리 border로 변경
  src/shared/components/card/match-card/components/card-profile-image.tsx
  src/shared/components/card/match-card/styles/card-variants.ts
Labels: style, 소은

#296 fix: (QA/2) 그룹 상세 조회 그룹원 리스트 역순 정렬
  src/pages/match/components/mate-carousel.tsx
Labels: 예원

#300 docs: 트러블 슈팅 문서 업데이트
  docs/index.md
  docs/trouble/gradient.md
  docs/trouble/image-1.png
  docs/trouble/image.png
  docs/trouble/index.md
  docs/trouble/protectedRoute.md
  docs/trouble/suspense.md
  docs/trouble/useFunnel.md
Labels: docs, 희선
